In [1]:
import sqlite3
import pandas as pd

In [6]:
con = sqlite3.connect("data.db")
cur = con.cursor();

cur.execute("""drop table if exists person;""");
cur.execute("""drop table if exists toy;""");

In [7]:
cur.execute("""
create table person(
   person_id INTEGER,
   name TEXT,
   PRIMARY KEY (person_id)
);
""");

cur.execute("""
create table toy(
  toy_id INTEGER,
  name TEXT,
  person_id INTEGER,
  PRIMARY KEY (toy_id),
   FOREIGN KEY (person_id) 
      REFERENCES person (person_id) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION
);
""");

In [8]:
df = pd.DataFrame([{"person_id": 5, "name": "Noon"}])
df = df.set_index("person_id")

In [9]:
df.to_sql("person", con, if_exists="append")

1

In [10]:
df = pd.DataFrame([{"toy_id": 1, "person_id": 5, "name": "Senor Conejo"}])
df = df.set_index("toy_id")

In [11]:
df.to_sql("toy", con, if_exists="append")

1

In [12]:
df = pd.read_sql("""
select
    toy.*,
    person.*
from
    toy
inner join
    person on
    person.person_id = toy.person_id
""", con)
df

   toy_id          name  person_id  person_id  name
0       1  Senor Conejo          5          5  Noon